body{
    font-family: Roboto;
}

.snackbar{
    position: fixed;
    width: 100%;
    line-height: 100px;
    z-index:    100;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
.rubik{
    font-family: Rubik;
}
.icon-btn{
    margin-right: 10px !important;
    margin-bottom: 2px !important;
    vertical-align:middle !important;
    
}


.icon-btn-in{
    padding:2px;
    margin-right: 10px !important;
}

.karla{
    font-family: Karla !important;
}

.roboto{
    font-family: Roboto !important;
}

.is-sidebar-menu {
    padding: 2.5rem;
    background-color: mintcream;
    position: sticky;
    top: 0;
    border-right : 2px solid rgba(0,0,0,0.1);
}
  .is-sidebar-menu li a {
    color: black;
  }
  
  .columns.is-fullheight {
    min-height: 100vh;
    max-height: 100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }
  .columns.is-fullheight .column {
    overflow-y: auto;
  }
  
  .has-background-sel{
     color: aqua !important;
  }

.is-box{
    background-color: whitesmoke;
    /* border: 2px solid rgba(0,0,0,0.1); */
}


.button{
    font-family : 'Rubik' !important;
}

.template-mssg{
    padding: 1rem;
    background-color:#F5FFFA;
    /* border: 1px solid rgba(144, 103, 255, 0) ; */
    border-radius: 3px;
}

.column.no-scroll {
    overflow: auto;
  }

.action-box{
        margin-bottom:1rem;
    width:100%;
}

/* DATATABLES */

table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap
  }
  
  div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block
  }
  
  div.dataTables_wrapper div.dataTables_filter {
    text-align: right
  }
  
  div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left
  }
  
  div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto
  }
  
  div.dataTables_wrapper div.dataTables_paginate {
    white-space: nowrap;
    float: right
  }
  
  table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 30px
  }
  
  table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative
  }
  
  table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;    opacity: 0.5
  }
  
  table.dataTable thead .sorting:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    opacity: 0.2;
    content: url("https://unpkg.com/feather-icons@2.4.0/icons/arrows/arrow-down.svg");
  }
  
  table.dataTable thead .sorting_asc:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:  url("https://unpkg.com/feather-icons@2.4.0/icons/arrows/arrow-up.svg");
  }
  
  table.dataTable thead .sorting_desc:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:  url("https://unpkg.com/feather-icons@2.4.0/icons/arrows/arrow-down.svg");
  }
  
  table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    color: #eee
  }
  
  @media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
      text-align: center
    }
  }