body{
    font-family: Roboto;
}

.snackbar{
    position: fixed;
    width: 100%;
    line-height: 100px;
    z-index:    100;
    border-bottom: 2px solid #eee;
}
.rubik{
    font-family: Rubik;
}
.icon-btn{
    margin-right: 10px !important;
    margin-bottom: 2px !important;
    vertical-align:middle !important;
    
}

.icon-btn-in{
    padding:2px;
    margin-right: 10px !important;
}

.karla{
    font-family: Karla !important;
}

.roboto{
    font-family: Roboto !important;
}

.is-sidebar-menu {
    padding: 2.5rem;
    background-color: mintcream;
    position: sticky;
    top: 0;
    border-right : 2px solid rgba(0,0,0,0.1);
}
  .is-sidebar-menu li a {
    color: black;
  }
  
  .columns.is-fullheight {
    min-height: 100vh;
    max-height: 100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }
  .columns.is-fullheight .column {
    overflow-y: auto;
  }
  


.is-box{
    background-color: whitesmoke;
    /* border: 2px solid rgba(0,0,0,0.1); */
}

