{% extends 'base.html' %}
{% block content %}
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<div class="contact-list">
    <nav class="navbar">
        <div class="navbar-start">
            <h3 class="is-size-5 has-text-weight-bold rubik">ALL CONTACTS</h3>
        </div>
        <div class="navbar-end">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <form action="" method="POST">
                            {{form_search.hidden_tag()}}
                            <div class="field has-addons">

                                <div class="control is-inline-block">
                                    {{form_search.search(class="input", placeholder = "Find contact" , type="text")}}
                                </div>
                                <div class="control is-inline-block">
                                    <a class="button is-black rubik">
                                        <span class="icon icon-btn-in"><i data-feather="search"></i></span>
                                        Search
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="field">
                        <div class="buttons">
                            <button class="button is-black rubik"><span class="icon icon-btn-in"><i
                                        data-feather="upload"></i></span>Export</button>
                            <button class="button is-black rubik" id="filter_btn"><span class="icon icon-btn-in"><i
                                        data-feather="filter"></i></span>Filter</button>
                            <button class="button is-black rubik"><span class="icon icon-btn-in"><i
                                        data-feather="refresh-cw"></i></span>Refresh</button>
                            <button id="add_contact_btn" class="button is-black rubik"><span class="icon icon-btn-in"><i
                                        data-feather="user-plus"></i></span>Add Contact</button>

                            <div class="modal " id="con_add_modal">
                                <div class="modal-background animated fadeIn"></div>
                                <div class="modal-content animated slideInUp">
                                    <div class="box ">
                                        <p class="is-size-4 has-text-weight-bold has-text-centered">Add Contact</p>
                                        <br>
                                        <div class="contact_form">
                                            <form action="" method="POST">
                                                <div class="notification">

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <button class="modal-close is-large" aria-label="close"></button>

                            </div>

                            <div class="modal animated fadeIn" id="con_filter_modal">
                                <div class="modal-background"></div>
                                <div class="modal-content">
                                    <div class="box ">
                                        <p class="is-size-4 has-text-weight-bold has-text-centered">Filter contacts</p>
                                        <p class="is-size-5 has-text-centered">Make selections below. Dark buttons means
                                            selected.</p>
                                        <hr>
                                        <nav class="tabs is-toggle is-fullwidth rubik">
                                            <div class="container">
                                                <ul>
                                                    <li class="tab is-active" onclick="openTab(event,'City')"><a><span
                                                                class="icon icon-btn-in"><i
                                                                    data-feather="globe"></i></span>City</a></li>
                                                    <li class="tab" onclick="openTab(event,'Tags')"><a><span
                                                                class="icon icon-btn-in"><i
                                                                    data-feather="tag"></i></span>Tags</a></li>
                                                    <li class="tab " onclick="openTab(event,'Provider')"><a><span
                                                                class="icon icon-btn-in"><i
                                                                    data-feather="send"></i></span>Provider</a></li>

                                                    <li class="tab " onclick="openTab(event,'Keywords')"><a><span
                                                                class="icon icon-btn-in"><i
                                                                    data-feather="bookmark"></i></span>Keywords</a></li>
                                                </ul>
                                            </div>
                                        </nav>

                                        <div id="City" class="content-tab is-size-5 ">
                                            <div class="notification is-light">
                                                <div class="buttons selection">
                                                    {% for p in form_filter_city %}
                                                    <span class="button">{{p}}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Provider" class="content-tab " style="display: none">
                                            <div class="notification is-light">
                                                <div class="buttons selection">
                                                    {% for p in form_filter_provider %}
                                                    <span class="button">{{p}}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Tags" class="content-tab " style="display: none">
                                            <div class="notification is-light">
                                                <div class="buttons selection">
                                                    {% for p in form_filter_tags %}
                                                    <span class="button">{{p}}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Keywords" class="content-tab " style="display: none">
                                            <div class="notification is-light">
                                                <div class="buttons selection">
                                                    {% for p in form_filter_keywords %}
                                                    <span class="button">{{p}}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                        <a class="button is-black is-fullwidth" id="submit_filter"><span
                                                class="icon icon-btn"><i data-feather="check-square"></i></span>Set
                                            Filter</a>
                                    </div>

                                </div>

                                <button class="modal-close is-large" aria-label="close"></button>
                            </div>
                            <!-- Script for Tabs -->
                            <script>

                                // Script for Sending filters to Contacts
                                // href="{{ url_for('contact_filter')}}"
                                $('#submit_filter').click(function () {
                                    tagfltr = $('#Tags .selection').children();
                                    keyfltr = $('#Keyword .selection').children();
                                    cityfltr = $('#City .selection').children();
                                    provfltr = $('#Provider .selection').children();

                                    var cityarry = []
                                    var tagarry = []
                                    var keyarry = []
                                    var provarry = []

                                    for (var i = 0; i < cityfltr.length; i++) {
                                        if (cityfltr[i].classList.contains('is-black')) {
                                            cityarry.push(cityfltr[i].innerHTML);
                                        }
                                    }

                                    for (var i = 0; i < tagfltr.length; i++) {
                                        if (tagfltr[i].classList.contains('is-black')) {
                                            tagarry.push(tagfltr[i].innerHTML);
                                        }
                                    }

                                    for (var i = 0; i < keyfltr.length; i++) {
                                        if (keyfltr[i].classList.contains('is-black')) {
                                            keyarry.push(keyfltr[i].innerHTML);
                                        }
                                    }

                                    for (var i = 0; i < provfltr.length; i++) {
                                        if (provfltr[i].classList.contains('is-black')) {
                                            provarry.push(provfltr[i].innerHTML);
                                        }
                                    }

                                    jsonPayload = []
                                    var item = {}
                                    item['city'] = cityarry;
                                    item['tags'] = tagarry;
                                    item['keywords'] = keyarry;
                                    item['provider'] = provarry;
                                    jsonPayload.push(item);
                                    console.log(jsonPayload);

                                    $.ajax({
                                        url: "/contacts_filter",
                                        data: JSON.stringify(jsonPayload),
                                        contentType: 'application/json; charset=utf-8',
                                        dataType: 'json',
                                        type: 'POST',
                                        success: function () {
                                            var modal = document.querySelector('#con_filter_modal');  // assuming you have only 1
                                            var html = document.querySelector('html');


                                            modal.classList.remove('is-active');
                                            html.classList.remove('is-clipped');

                                        }
                                    });

                                });

                                $(document).ready(function selectFilter(evt) {
                                    var payload = {}
                                    const btnsfltr = document.querySelectorAll('.selection .button');
                                    for (const btn of btnsfltr) {
                                        btn.addEventListener("click", function () {
                                            $(this).toggleClass("is-black");
                                        });
                                    };
                                });

                                function openTab(evt, tabName) {
                                    var i, x, tablinks;
                                    x = document.getElementsByClassName("content-tab");
                                    for (i = 0; i < x.length; i++) {
                                        x[i].style.display = "none";
                                    }
                                    tablinks = document.getElementsByClassName("tab");
                                    for (i = 0; i < x.length; i++) {
                                        tablinks[i].className = tablinks[i].className.replace(" is-active", "");
                                    }
                                    document.getElementById(tabName).style.display = "block";
                                    evt.currentTarget.className += " is-active";
                                }
                            </script>

                            <script>
                                document.querySelector('#filter_btn').addEventListener('click', function (event) {
                                    event.preventDefault();
                                    var modal = document.querySelector('#con_filter_modal');  // assuming you have only 1
                                    var html = document.querySelector('html');
                                    modal.classList.add('is-active');
                                    html.classList.add('is-clipped');

                                    document.querySelector('.modal-close').addEventListener('click', function (e) {
                                        e.preventDefault();
                                        modal.classList.remove('is-active');
                                        html.classList.remove('is-clipped');
                                    });

                                    modal.querySelector('.modal-background').addEventListener('click', function (e) {
                                        e.preventDefault();
                                        modal.classList.remove('is-active');
                                        html.classList.remove('is-clipped');


                                    });

                                });

                                document.querySelector('#add_contact_btn').addEventListener('click', function (event) {
                                    event.preventDefault();
                                    var modal = document.querySelector('#con_add_modal');  // assuming you have only 1
                                    var html = document.querySelector('html');
                                    modal.classList.add('is-active');
                                    html.classList.add('is-clipped');

                                    document.querySelector('.modal-close').addEventListener('click', function (e) {
                                        e.preventDefault();
                                        modal.classList.remove('is-active');
                                        html.classList.remove('is-clipped');
                                    });

                                    modal.querySelector('.modal-background').addEventListener('click', function (e) {
                                        e.preventDefault();
                                        modal.classList.remove('is-active');
                                        html.classList.remove('is-clipped');


                                    });

                                });
                            </script>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </nav>
</div>

<br>

{% if contacts_list %}
<div class="box action-box is-hidden " id="actionbox">
    <div class="level">
        <div class="level-left">
            <p class="level-item rubik has-text-weight-semibold">ACTION</p>
        </div>
        <div class="level-right ">
            <p class="level-item button is-black is-small rubik"><span class="icon icon-btn"><i
                        data-feather="external-link"></i></span>Export</p>
            <p class="level-item button is-black is-small rubik"><span class="icon icon-btn"><i
                        data-feather="trash"></i></span>Delete</p>
            <p class="level-item button is-black is-small rubik"><span class="icon icon-btn"><i
                        data-feather="users"></i></span>Group</p>



        </div>

    </div>
</div>
<br>
<div class="contact-table">
    <table class="table is-fullwidth is-hoverable" id="contact-table">
        <thead>
            <th>Business Name</th>
            <th>City</th>
            <th>Ph #1</th>
            <th>Ph #2</th>
            <th>Address</th>
        </thead>
        <tbody>
            <!-- {% for c in contacts_list %}
            <tr>
                <td>{{c.business_name}}</td>
                <td>{{c.city}}</td>
                <td>{{c.contact_one}}</td>
                <td>{{c.contact_two}}</td>

                <td>{{c.address}}</td>
                <td>
                    <div class="buttons is-grouped-multiline">
                        <button class="button is-light is-small rubik" id="edit_contact_{{c.id}}">Edit</button>
                        <button class="button is-danger is-small rubik">Delete</button>
                    </div>
                </td>

                <div class="modal" id="edit_contact_model_{{c.id}}">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box">/
                            <p class="is-size-5 rubik">Edit Contact - <span
                                    class="has-text-grey">{{c.business_name}}</span> </p>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                </div>

                <script>

                    $(document).ready(function () {

                        $('#contact-table tbody tr').click(function () {
                            var data = $(this).toggleClass('has-background-info has-text-white');
                            var modal = $('.action-box').addClass('animated fadeInUp');
                            $('.action-box').removeClass('is-hidden');

                        });

                    });

                  
                    document.querySelector('#edit_contact_{{c.id}}').addEventListener('click', function (event) {
                        event.preventDefault();
                        var modal = document.querySelector('#edit_contact_model_{{c.id}}');  // assuming you have only 1
                        var html = document.querySelector('html');
                        modal.classList.add('is-active');
                        html.classList.add('is-clipped');

                        document.querySelector('.modal-close').addEventListener('click', function (e) {
                            e.preventDefault();
                            modal.classList.remove('is-active');
                            html.classList.remove('is-clipped');
                            html.classList.add('animated fadeOut');

                        });

                        modal.querySelector('.modal-background').addEventListener('click', function (e) {
                            e.preventDefault();
                            modal.classList.remove('is-active');
                            html.classList.remove('is-clipped');


                        });

                    });
                </script>
            </tr>


            {% endfor %} -->
        </tbody>
    </table>
</div>
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var table = $('#contact-table').DataTable({
            "processing": true,
            "serverSide": true,
            "select": {
                "style": 'multi'
            },
            "ajax": "{{ url_for('data') }}"
        });
    });
</script>

{% else %}
<div class="notification is-light is-narrow animated slideInUp">
    <p class="is-size-6 rubik" style="text-align: center">
        Please select either option<br>
        <span style="text-decoration: underline;"><i class="icon icon-btn" data-feather="info"></i> Selecting <span
                class="has-text-weight-bold">Load All Contacts</span> may take some time for the page to load . Be
            patient !</span><br>
        <br>
        <span class="button"><span class="icon icon-btn"><i data-feather="users"></i></span>Load all contacts</span> or
        <span class="button is-dark"><span class="icon icon-btn"><i data-feather="user"></i></span>Filter
            contacts</span><br>
    </p>
</div>
{% endif %}

<script>
    (function (b) {
        "function" === typeof define && define.amd ? define(["jquery", "datatables.net"], function (a) {
            return b(a, window, document)
        }) : "object" === typeof exports ? module.exports = function (a, d) {
            a || (a = window);
            if (!d || !d.fn.dataTable) d = require("datatables.net")(a, d).$;
            return b(d, a, a.document)
        } : b(jQuery, window, document)
    })(function (b, a, d) {
        var f = b.fn.dataTable;
        b.extend(!0, f.defaults, {
            dom: "<'columns'<'column is-6'l><'column is-6'f>><'columns'<'column is-12'tr>><'columns'<'column is-5'i><'column is-7'p>>",
            renderer: "bulma"
        });
        b.extend(f.ext.classes, {
            sWrapper: "dataTables_wrapper dt-bulma",
            sFilterInput: "input is-small",
            sLengthSelect: "input is-small",
            sProcessing: "dataTables_processing panel",
            sPageButton: "pagination-link",
            sPagePrevious: "pagination-previous",
            sPageNext: "pagination-next",
            sPageButtonActive: "is-current"
        });
        f.ext.renderer.pageButton.bulma = function (a, h, r, m, j, n) {
            var o = new f.Api(a),
                s = a.oClasses,
                k = a.oLanguage.oPaginate,
                t = a.oLanguage.oAria.paginate || {},
                e, g, p = 0,
                q = function (d, f) {
                    var l, h, i, c, m = function (a) {
                        a.preventDefault();
                        (!b(a.currentTarget).is("[disabled]") && !b(a.currentTarget).is("#table_ellipsis")) && o.page() != a.data.action && o.page(a.data.action).draw("page")
                    };
                    l = 0;
                    for (h = f.length; l < h; l++)
                        if (c = f[l], b.isArray(c)) q(d, c);
                        else {
                            g = e = "";
                            dd = false;
                            switch (c) {
                                case "ellipsis":
                                    e = "&#x2026;";
                                    dd = true;
                                    break;
                                case "first":
                                    e = k.sFirst;
                                    dd = c + (0 < j ? false : true);
                                    break;
                                case "previous":
                                    e = k.sPrevious;
                                    dd = 0 < j ? false : true;
                                    break;
                                case "next":
                                    e = k.sNext;
                                    dd = j < n - 1 ? false : true;
                                    break;
                                case "last":
                                    e = k.sLast;
                                    dd = c + (j < n - 1 ? false : true);
                                    break;
                                default:
                                    e = c + 1, g = j === c ? " is-current" : "";
                                    dd = false;
                            }
                            e && (i = b("<li>", {
                                id: 0 === r && "string" === typeof c ? a.sTableId + "_" + c : null
                            }).append(b("<a>", {
                                "class": s.sPageButton + " " + g,
                                href: "#",
                                "aria-controls": a.sTableId,
                                "aria-label": t[c],
                                "data-dt-idx": p,
                                tabindex: a.iTabIndex,
                                disabled: dd
                            }).html(e)).appendTo(d), a.oApi._fnBindAction(i, {
                                action: c
                            }, m), p++)
                        }
                },
                i;
            try {
                i = b(h).find(d.activeElement).data("dt-idx")
            } catch (u) { }
            q(b(h).empty().html('<ul class="pagination-list"/>').children("ul"), m);
            i && b(h).find("[data-dt-idx=" + i + "]").focus()
        };
        return f
    });
</script>
</div>

{% endblock %}