{% extends 'base.html' %}
{% block content %}

<div class="contact-list">
    <nav class="navbar">
        <div class="navbar-start">
            <h3 class="is-size-5 has-text-weight-bold rubik">ALL CONTACTS</h3>
        </div>
        <div class="navbar-end">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <form action="" method="POST">
                            {{form_search.hidden_tag()}}
                            <div class="field has-addons">

                                <div class="control is-inline-block">
                                    {{form_search.search(class="input", placeholder = "Find contact" , type="text")}}
                                </div>
                                <div class="control is-inline-block">
                                    <a class="button is-black rubik">
                                        <span class="icon icon-btn-in"><i data-feather="search"></i></span>
                                        Search
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="field">
                        <div class="buttons">
                            <button class="button is-black rubik"><span class="icon icon-btn-in"><i
                                        data-feather="upload"></i></span>Export</button>
                            <button class="button is-black rubik" id="filter_btn"><span class="icon icon-btn-in"><i
                                        data-feather="filter"></i></span>Filter</button>
                            <button class="button is-black rubik"><span class="icon icon-btn-in"><i
                                        data-feather="refresh-cw"></i></span>Refresh</button>
                            <div class="modal" id="con_filter_modal">
                                <div class="modal-background"></div>
                                <div class="modal-content">
                                    <div class="box ">
                                        <p class="is-size-4 has-text-weight-bold has-text-centered">Filter contacts</p>
                                        <hr>
                                        <nav class="tabs is-toggle is-fullwidth rubik">
                                            <div class="container">
                                                <ul>
                                                    <li class="tab is-active" onclick="openTab(event,'City')"><a><span
                                                                class="icon icon-btn-in"><i
                                                                    data-feather="globe"></i></span>City</a></li>
                                                    <li class="tab" onclick="openTab(event,'Tags')"><a><span
                                                                class="icon icon-btn-in"><i
                                                                    data-feather="tag"></i></span>Tags</a></li>
                                                    <li class="tab " onclick="openTab(event,'Provider')"><a><span
                                                                class="icon icon-btn-in"><i
                                                                    data-feather="send"></i></span>Provider</a></li>
                                                    <li class="tab " onclick="openTab(event,'Campaigns')"><a><span
                                                                class="icon icon-btn-in"><i
                                                                    data-feather="image"></i></span>Campaigns</a></li>
                                                    <li class="tab " onclick="openTab(event,'Keywords')"><a><span
                                                                class="icon icon-btn-in"><i
                                                                    data-feather="bookmark"></i></span>Keywords</a></li>
                                                </ul>
                                            </div>
                                        </nav>

                                        <div id="City" class="content-tab is-size-5">
                                            <div class="notification is-light">
                                                <div class="buttons selection">
                                                    {% for p in form_filter_city %}
                                                    <span class="button">{{p.name}}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Provider" class="content-tab" style="display: none">

                                        </div>
                                        <div id="Tags" class="content-tab" style="display: none">

                                        </div>
                                        <div id="Keywords" class="content-tab" style="display: none">

                                        </div>
                                        <div id="Campaigns" class="content-tab" style="display: none">
                                                <div class="notification is-light">
                                                        <div class="buttons selection">
                                                            {% for p in user_projects %}
                                                            <span class="button">{{p.name}}</span>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                        </div>
                                        <br>
                                    </div>

                                </div>

                                <button class="modal-close is-large" aria-label="close"></button>
                            </div>
                            <!-- Script for Tabs -->
                            <script>
                                
                                $(document).ready( function selectFilter(evt){
                                    
                                    const btnsfltr = document.querySelectorAll('.selection .button');
                                    for (const btn of btnsfltr) {
                                        btn.addEventListener("click" , function(){
                                            $(this).toggleClass("is-black");
                                        });
                                        };  
                                    }
                                 );
                                
                                function openTab(evt, tabName) {
                                    var i, x, tablinks;
                                    x = document.getElementsByClassName("content-tab");
                                    for (i = 0; i < x.length; i++) {
                                        x[i].style.display = "none";
                                    }
                                    tablinks = document.getElementsByClassName("tab");
                                    for (i = 0; i < x.length; i++) {
                                        tablinks[i].className = tablinks[i].className.replace(" is-active", "");
                                    }
                                    document.getElementById(tabName).style.display = "block";
                                    evt.currentTarget.className += " is-active";
                                }
                            </script>

                            <script>
                                document.querySelector('#filter_btn').addEventListener('click', function (event) {
                                    event.preventDefault();
                                    var modal = document.querySelector('#con_filter_modal');  // assuming you have only 1
                                    var html = document.querySelector('html');
                                    modal.classList.add('is-active');
                                    html.classList.add('is-clipped');

                                    document.querySelector('.modal-close').addEventListener('click', function (e) {
                                        e.preventDefault();
                                        modal.classList.remove('is-active');
                                        html.classList.remove('is-clipped');
                                    });

                                    modal.querySelector('.modal-background').addEventListener('click', function (e) {
                                        e.preventDefault();
                                        modal.classList.remove('is-active');
                                        html.classList.remove('is-clipped');


                                    });

                                });
                            </script>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </nav>
</div>

<br>

{% if contacts_list %}
<div class=" table-container">
    <table class="table is-bordered is-fullwidth">
        <thead>
            <tr>
                <th>Business Name</th>
                <th>City</th>
                <th>Ph #1</th>
                <th>Ph #2</th>
                <th>Address</th>

            </tr>
        </thead>
        <tbody>
            {% for c in contacts_list %}
            <tr>
                <td>{{c.business_name}}</td>
                <td>{{c.city}}</td>
                <td>{{c.contact_one}}</td>
                <td>{{c.contact_two}}</td>

                <td>{{c.address}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="notification is-light is-narrow">
    <p class="is-size-6 rubik" style="text-align: center">
        Please select either option<br>
        <span style="text-decoration: underline;"><i class="icon icon-btn" data-feather="info"></i> Selecting <span
                class="has-text-weight-bold">Load All Contacts</span> may take some time for the page to load . Be
            patient !</span><br>
        <br>
        <span class="button"><span class="icon icon-btn"><i data-feather="users"></i></span>Load all contacts</span> or
        <span class="button is-dark"><span class="icon icon-btn"><i data-feather="user"></i></span>Filter
            contacts</span><br>
    </p>
</div>
{% endif %}
</div>
</div>
{% endblock %}