{% extends 'base.html' %}
{% block content %}
<p class="is-size-5 has-text-weight-bold rubik">DASHBOARD</p>
<br>
<div class="columns ">
    <div class="column">
        <div class="scraper-info notification is-light">
            <nav class="navbar">
                <div class="navbar-start">
                    <p class="is-size-5 has-text-weight-bold"><span class="icon icon-btn"><i
                                data-feather="database"></i></span>
                        Scrapers</p>
                </div>
                <div class="navbar-end">
                    <button class="button is-black is-right"><span class="icon icon-btn-in"><i
                                data-feather="eye"></i></span>
                        View</button>
            </nav>
            <br>

            <div class="level box">
                <div class="level-left">
                    <div class=" is-size-6 level-item"><span class="rubik ">Total Scrapers</div>
                </div>
                <div class="level-right">
                    <p class="is-size-6 rubik has-text-weight-bold tag is-normal">{{src_len}}</p>
                </div>
            </div>

            <div class="level notification is-primary">
                <div class="level-left">
                    <div class=" is-size-6 level-item"><span class="rubik ">Running</div>
                </div>
                <div class="level-right">
                    <p class="is-size-6 rubik has-text-weight-bold tag is-normal">{{src_run}}</p>
                </div>
            </div>

            <div class="level notification is-success">
                <div class="level-left">
                    <div class=" is-size-6 level-item"><span class="rubik ">Finished</div>
                </div>
                <div class="level-right">
                    <p class="is-size-6 rubik has-text-weight-bold tag is-normal">{{src_fin}}</p>
                </div>
            </div>

            <div class="level notification is-info">
                <div class="level-left">
                    <div class=" is-size-6 level-item"><span class="rubik ">Unfinished</div>
                </div>
                <div class="level-right">
                    <p class="is-size-6 rubik has-text-weight-bold tag is-normal">{{src_unfin}}</p>
                </div>
            </div>


        </div>
    </div>

    <div class="column ">
        <div class="scraper-info notification is-light">
            <nav class="navbar">
                <div class="navbar-start">
                    <p class="is-size-5 has-text-weight-bold"><span class="icon icon-btn"><i
                                data-feather="send"></i></span>
                        Jobs</p>
                </div>
                <div class="navbar-end">
                    <button class="button is-black is-right"><span class="icon icon-btn-in"><i
                                data-feather="eye"></i></span>
                        View</button>
            </nav><br>
            <div class="level box">
                <div class="level-left">
                    <div class=" is-size-6 level-item"><span class="rubik ">Total Jobs</div>
                </div>
                <div class="level-right">
                    <p class="is-size-6 rubik has-text-weight-bold tag is-normal">{{job_len}}</p>
                </div>
            </div>

            <div class="level notification is-primary ">
                <div class="level-left">
                    <div class=" is-size-6 level-item"><span class="rubik ">Running</div>
                </div>
                <div class="level-right">
                    <p class="is-size-6 rubik has-text-weight-bold tag is-normal">{{job_run}}</p>
                </div>
            </div>

            <div class="level notification is-success">
                <div class="level-left">
                    <div class=" is-size-6 level-item"><span class="rubik ">Finished</div>
                </div>
                <div class="level-right">
                    <p class="is-size-6 rubik has-text-weight-bold tag is-normal">{{job_fin}}</p>
                </div>
            </div>

            <div class="level notification is-info">
                <div class="level-left">
                    <div class=" is-size-6 level-item"><span class="rubik ">Unfinished</div>
                </div>
                <div class="level-right">
                    <p class="is-size-6 rubik has-text-weight-bold tag is-normal">{{job_unfin}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="scraper-info notification is-box">
            <nav class="navbar">
                <div class="navbar-start">
                    <p class="is-size-5 has-text-weight-bold"><span class="icon icon-btn"><i
                                data-feather="hash"></i></span>
                        Contacts</p>
                </div>
                <div class="navbar-end">
                    <button class="button is-black is-right"><span class="icon icon-btn-in"><i
                                data-feather="eye"></i></span>
                        View</button>
            </nav><br>
            <div class="level box">
                <div class="level-left">
                    <div class=" is-size-6 level-item"><span class="rubik ">Total Contacts</div>
                </div>
                <div class="level-right">
                    <p class="is-size-6 rubik has-text-weight-bold tag is-normal">{{con_len}}</p>
                </div>
            </div>

            <div class="level is-mobile notification is-primary">
                <div class="level-left">
                    <div class=" is-size-6 level-item"><span class="rubik ">Total Cities</div>
                </div>
                <div class="level-right">
                    <p class="is-size-6 rubik has-text-weight-bold tag is-normal ">{{city_len}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
<hr>
<p class="is-size-5 has-text-weight-bold rubik">RUNNING TASKS</p>
<br>
<div class="columns">
    <div class="column">
        <div class="notification is-light">
            <nav class="navbar">
                <div class="navbar-start">
                    <p class="is-size-5 has-text-weight-bold"><span class="icon icon-btn"><i
                                data-feather="zap"></i></span>
                        Running Scrapers</p>
                </div>
                <div class="navbar-end buttons">
                    <button class="button is-black is-right"><span class="icon icon-btn-in"><i
                                data-feather="play-circle"></i></span>
                        Start</button>
                    <button class="button is-danger is-right"><span class="icon icon-btn-in"><i
                                data-feather="pause-circle"></i></span>
                        Stop</button>
                </div>
            </nav><br>
            {% if src_curr_run|length == 0 %}
            <div class="box rubik">
                <p class="has-text-centered"><span class="icon icon-btn"><i data-feather="info"></i></span></p>
                <br>
                <p class="has-text-centered">No scrapes currently running.<br>Start one now from Scrapers page.</p>
            </div>
            {% else %}
            {% for src in src_curr_run %}
            <div class="level box">
                    <div class="level-left">
                        <div class="rubik is-primary level-item tag"><span class="rubik ">{{src.timestamp.strftime('%Y-%m-%d')}}</div>
                            <p class="is-size-6 level-item">{{src.city}}</p>
                            

                    </div>
                    <div class="level-right">
                            <div class="rubik level-item tag is-black"><span class="rubik ">via {{src.provider}}</div>
                            <div class="rubik level-item tag"><span class="rubik ">{{src.keyword}}</div>
                            <a class="level-item"><span class="icon icon-btn-in"><i data-feather="pause-circle"></i></span></a>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
        <div class="column">
            <div class="notification is-light">
                    <nav class="navbar">
                            <div class="navbar-start">
                                <p class="is-size-5 has-text-weight-bold"><span class="icon icon-btn"><i
                                            data-feather="zap"></i></span>
                                    Running Jobs</p>
                            </div>
                            <div class="navbar-end buttons">
                                <button class="button is-black is-right"><span class="icon icon-btn-in"><i
                                            data-feather="play-circle"></i></span>
                                    Start</button>
                                <button class="button is-danger is-right"><span class="icon icon-btn-in"><i
                                            data-feather="pause-circle"></i></span>
                                    Stop</button>
                            </div>
                        </nav><br>
                        {% if job_curr_run|length == 0 %}
            <div class="box rubik">
                <p class="has-text-centered"><span class="icon icon-btn"><i data-feather="info"></i></span></p>
                <br>
                <p class="has-text-centered">No Jobs currently running.<br>Start one now from Jobs page.</p>
            </div>
            {% else %}
                {% for src in job_curr_run %}
                <div class="level box">
                        <div class="level-left">
                            <div class="rubik is-primary level-item tag"><span class="rubik ">{{src.timestamp.strftime('%Y-%m-%d')}}</div>
                                <p class="is-size-6 level-item">{{src.city}}</p>
                                

                        </div>
                        <div class="level-right">
                                <div class="rubik level-item tag is-black"><span class="rubik ">via {{src.provider}}</div>
                                <div class="rubik level-item tag"><span class="rubik ">{{src.keyword}}</div>
                                <a class="level-item "><span class="icon icon-btn-in btnbtn"><i data-feather="stop-circle"></i></span></a>

                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
