{% extends 'base.html' %}
{% block content %}
<nav class="navbar">
    <div class="navbar-start">    
<h3 class="is-size-5 has-text-weight-bold rubik">SETTINGS</h3>
</div>
</nav>
<br>
<div class="notification is-light ">
  <div class="level ">
      <div class="level-right">
          <div class="level-item rubik has-text-weight-bold">
          DELETE
      </div>
      </div>
      <div class="level-left">
          <div class="level-item">
            <p class="">Delete <span class="rubik has-text-weight-bold" >{{curr_project_ins.name}}</span> for  <span class="rubik has-text-weight-bold" > {{ current_user.username }} </span>.</p>
          </div>
      </div>
      <div class="level-left">
          <div class="item">
              <a class="button is-danger rubik" href="{{ url_for('del_project' , id = curr_project_ins.id )}}"><span class="icon icon-btn-in"><i data-feather="trash"></i> </span> Delete   <span class="has-text-weight-bold" style="padding-left:7px;">{{curr_project_ins.name }}</span></span></a>
          </div>
      </div>
  </div>
  
</div>
<br>
<div class="notification is-light">
    <div class="level">
        <div class="level-right">
            <div class="level-item rubik has-text-weight-bold">
            BACKUPS
        </div>
        </div>
        <div class="level-left">
            <div class="level-item">
                Create a backup of the database 
            </div>
        </div>
        <div class="level-left">
            <div class="item">
                <a class="button is-black rubik" id="backup-btn"><span class="icon icon-btn-in"><i data-feather="save"></i> </span> Create Backup</a>
            </div>
        </div>
    </div>
    
    <p class="notification is-warning rubik has-text-centered"><span class="icon icon-btn"><i data-feather="info"></i></span> Backups created are placed in the application directories root folder under <span class="tag is-light">/backups</span> folder.</p>
</div>
<br>
<div class="notification is-light">
    <div class="level">
        <div class="level-right">
            <div class="level-item rubik has-text-weight-bold">
            IMPORT
        </div>
        </div>
        
        <div class="level-left box">
                
            <form action="{{url_for('settings')}}" method="POST" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <div class="level-item is-inline-block">
                        <a class="icon icon-btn-in" id="info-import"><i data-feather="help-circle"></i></a>
                </div> 
                <div class="modal" id="modal-info-import">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="box has-text-centered" style="margin-bottom : 0px;">
                          <p class="rubik has-text-weight-bold is-size-5">Check your files 🍿</p>
                          <img src="{{url_for('static' , filename = 'images/filech.gif' )}}" />
                          <br>
                          <p >Before uploading your <strong>CSV</strong> files , please adhere to the following format below :</p>
                          <br>
                          <div class="content has-text-left">
                              <div class="notification is-warning is-small has-text-centered">
                                <span class="icon icon-btn"><i data-feather="info"></i></span> Leave cells empty if data not present.
                                </div>
                                <div class="table-container">
                        <table class="table is-bordered">
                            <thead>
                                <tr>
                                    <td>Business name</td>
                                    <td>City</td>
                                    <td>Ph #1</td>
                                    <td>Ph #2</td>
                                    <td>Address</td>
                                    <td>website</td>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>
                                    <td>---</td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                          </div>
                        </div>
                        <button class="modal-close is-large" aria-label="close"></button>
                      </div>
                      </div>
                    <script>
                      document.querySelector('#info-import').addEventListener('click', function(event) {
                        event.preventDefault();
                        var modal = document.querySelector('#modal-info-import');  // assuming you have only 1
                        var html = document.querySelector('html');
                        modal.classList.add('is-active');
                        html.classList.add('is-clipped');
                      
                        document.querySelector('.modal-close').addEventListener('click', function(e) {
                            e.preventDefault();
                            modal.classList.remove('is-active');
                            html.classList.remove('is-clipped');
                          });
                  
                        modal.querySelector('.modal-background').addEventListener('click', function(e) {
                          e.preventDefault();
                          modal.classList.remove('is-active');
                          html.classList.remove('is-clipped');

  
                        });

                      });
                    </script>

            <div class="level-item is-inline-block">

                    <div class="file has-name">

                    <label class="file-label">
                            {{form.data_file(class="file-input" , id="file-input-name")}}
                            <span class="file-cta ">
                            <span class="file-icon ">
                              <i data-feather="upload"></i>
                            </span>
                            <span class="file-label">
                              Choose a file…
                            </span>
                          </span>
                          <span class="file-name has-text-grey " id="img-file-name">
                            CSV File
                          </span>
                          <script>
                            var file = document.getElementById("file-input-name");
                            file.onchange = function(){
                                if(file.files.length > 0)
                                {
                            
                                  document.getElementById('img-file-name').innerHTML = file.files[0].name;
                            
                                }
                            };
                            
                          </script>
                        </label>
                    </div>
            </div>
            <div class="level-item is-inline-block">
                <div class="buttons has-addons ">                        
                    <button class="button rubik" name= "import-con" type="submit" value="contact"><span class="icon icon-btn-in"><i data-feather="users"></i></span> Contacts</button>

                    
                    <button class="button rubik" name= "import-job" type="submit" value="job"><span class="icon icon-btn-in"><i data-feather="send"></i></span> Jobs</button>
                    <button class="button rubik" name= "import-src" type="submit" value="scrape"><span class="icon icon-btn-in"><i data-feather="database"></i></span> Scrapers</button>

                </div>
            </div>
        </form>
    </div>
    </div>
    <p class="notification is-warning rubik has-text-centered"><span class="icon icon-btn"><i data-feather="info"></i></span> Backups created are placed in the application directories root folder under <span class="tag is-light">/backups</span> folder.</p>
</div>
<script>
        
          $("#backup-btn").click(function(){
            $.ajax({
                type: "POST",
                url: "{{url_for('export_all')}}",
                
              }).done(function() {
                 window.location.replace('{{url_for("settings")}}');
              });
            });
</script>
{% endblock %}