{% extends 'base.html' %}
{% block content %}
<hr>
<div class="notification is-light new-scraper">
<p class="has-text-weight-bold rubik is-size-5">RUN NEW JOB</p>
<br>
<form action="/jobs" method="POST">
  {{form.hidden_tag()}}
<div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  {{ form.campaign(placeholder="Campaign" , class="input") }}
                  <span class="icon is-small is-left">
                    <i data-feather="image"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i data-feather="arrow-down"></i>
                  </span>
                </p>
              </div>

              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  {{ form.city(placeholder="City" ,id="city_selector" ,class="input") }}
                  <span class="icon is-small is-left">
                    <i data-feather="target"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i data-feather="arrow-down"></i>
                  </span>
                </p>
              </div>

              <div class="field">
                  <p class="control is-expanded has-icons-left has-icons-right">
                    {{ form.keyword(placeholder="Keyword" , id="keyword_selector" , class="input") }}
                    <span class="icon is-small is-left">
                      <i data-feather="anchor"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i data-feather="arrow-down"></i>
                    </span>
                  </p>
                </div>

         

          <div class="field">
                <p class="control is-expanded">
                  <button class="button is-black rubik is-fullwidth"><span class="icon icon-btn-in"><i data-feather="download-cloud"></i></span> Submit</button>
                </p>
              </div>
        </div>
      </div>
</form>
<script>

  $(document).ready(function(){
    var $secondChoice = $("#keyword_selector");
      $secondChoice.empty();  

    var $firstchoice = $("#city_selector");
    $firstchoice.index[0]=new Option("Select City","");
  });
  $('#city_selector').change(function(){

      var $dropdown = $(this);
      var $city = $dropdown.val();
      $.getJSON("/jobcombo/"+$city+"" , function(data){
        vals = data.options;
        
      var $secondChoice = $("#keyword_selector");
      $secondChoice.empty();
      $.each(vals, function(index, value) {
      $secondChoice.append("<option>" + value + "</option>");
      });
      
      });

  });
</script>
</div>
<hr>
<br>
        <table class="table is-bordered table-container is-fullwidth">
            <thead >
                <tr>
                    <th>Platform</th>
                    <th>City</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Results</th>
                </tr>
            </thead>
            <tbody>
                {% for j in job_list %}
                <tr>
                    <td>{{ j.provider}}</td>
                    <td>{{ j.city}}</td>
                    {% if j.status == 1|string %}
                    <td>Running</td>
                    <td><a class=" button is-small rubik is-danger has-text-weight-bold" href="{{url_for('task_pause' , task_id = j.id )}}"><span class="icon icon-btn-in"><i data-feather="pause-circle"></i></span>Pause</a> </td>
                    <td><a disabled class=" button is-small has-text-weight-bold rubik is-warning " href=""><span class="icon icon-btn-in"><i data-feather="activity"></i></span> Results</a> </td>
                    {% elif j.status ==  0|string %}
                    <td>Stopped</td>
                    <td><a class=" button is-small rubik is-primary has-text-weight-bold" id="job-notice-{{loop.index}}" ><span class="icon icon-btn-in"><i data-feather="play-circle"></i></span>Run</a> </td>
                    <td><a disabled  class=" button is-small has-text-weight-bold rubik is-warning " href=""><span class="icon icon-btn-in"><i data-feather="activity"></i></span> Results</a> </td>
                    
                    <div class="modal" id="run-modal-confim-{{loop.index}}">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="box has-text-centered" style="margin-bottom : 0px;">
                          <p class="rubik has-text-weight-bold is-size-5">Ready . Set . Go!</p>
                          <img src="{{url_for('static' , filename = 'images/scanwp.gif' )}}" />
                          <br>
                          <a class=" button rubik is-primary has-text-weight-bold" href="{{url_for('push_job_to_queue' , task_id = j.id )}}"><span class="icon icon-btn-in"><i data-feather="play-circle"></i></span>Resume</a>
                        </div>
                        <button class="modal-close is-large" aria-label="close"></button>
                      </div>
                      </div>
                    <script>
                      document.querySelector('#job-notice-{{loop.index}}').addEventListener('click', function(event) {
                        event.preventDefault();
                        var modal = document.querySelector('#run-modal-confim-{{loop.index}}');  // assuming you have only 1
                        var html = document.querySelector('html');
                        modal.classList.add('is-active');
                        html.classList.add('is-clipped');
                      
                        document.querySelector('.modal-close').addEventListener('click', function(e) {
                            e.preventDefault();
                            modal.classList.remove('is-active');
                            html.classList.remove('is-clipped');
                          });
                  
                        modal.querySelector('.modal-background').addEventListener('click', function(e) {
                          e.preventDefault();
                          modal.classList.remove('is-active');
                          html.classList.remove('is-clipped');

  
                        });

                      });
                    </script>
                    {% elif j.status ==  3|string %}
                    <td>Stopped</td>
                    <td><a class=" button is-small rubik is-primary has-text-weight-bold" id="job-notice-{{loop.index}}"><span class="icon icon-btn-in"><i data-feather="play-circle"></i></span>Resume</a> </td>
                    <td><a  class=" button is-small has-text-weight-bold rubik is-warning " id="job-results-{{loop.index}}" ><span class="icon icon-btn-in"><i data-feather="activity"></i></span> Results</a> </td>
                    <div class="modal" id="run-modal-confim-{{loop.index}}">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="box has-text-centered" style="margin-bottom : 0px;">
                          <p class="rubik has-text-weight-bold is-size-5">Ready . Set . Go!</p>
                          <img src="{{url_for('static' , filename = 'images/scanwp.gif' )}}" />
                          <br>
                          <p class="is-size-5 rubik has-text-weight-bold">Keep your smartphone ready for a Whatsapp Web Scan. Follow the steps below :</p>
                          <br>
                          <div class="content has-text-left">
                          <ul class="is-size-5">
                            <li>Open Whatsapp on your Phone</li>
                            <li>Tap <span class="has-text-weight-bold">menu</span> or <span class="has-text-weight-bold">settings</span> and select <span class="has-text-weight-bold">Whatsapp Web</span></li>
                            <li>Point your phone to the whatsapp webpage that'll open soon.</li>
                            <li>That's it !</li>
                          </ul>
                          </div>
                          <a class=" button rubik is-primary has-text-weight-bold" href="{{url_for('push_job_to_queue' , task_id = j.id )}}"><span class="icon icon-btn-in"><i data-feather="play-circle"></i></span>Resume</a>
                        </div>
                        <button class="modal-close is-large" aria-label="close"></button>
                      </div>
                      </div>
                    <script>
                      document.querySelector('#job-notice-{{loop.index}}').addEventListener('click', function(event) {
                        event.preventDefault();
                        var modal = document.querySelector('#run-modal-confim-{{loop.index}}');  // assuming you have only 1
                        var html = document.querySelector('html');
                        modal.classList.add('is-active');
                        html.classList.add('is-clipped');
                      
                        document.querySelector('.modal-close').addEventListener('click', function(e) {
                            e.preventDefault();
                            modal.classList.remove('is-active');
                            html.classList.remove('is-clipped');
                          });
                  
                        modal.querySelector('.modal-background').addEventListener('click', function(e) {
                          e.preventDefault();
                          modal.classList.remove('is-active');
                          html.classList.remove('is-clipped');

  
                        });

                      });
                    </script>

                    <div class="modal" id="modal-job-{{loop.index}}">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                                <div class="box has-text-centered" style="margin-bottom : 0px;">
                                  <p class=" is-size-4 has-text-weight-bold ">Results for {{j.city}} </p>
                                  <p class=" subtitle has-text-grey rubik">via {{j.provider}} </p>
                                
                                  <button class=" button rubik is-fullwidth is-black"><span class="icon icon-btn-in"><i data-feather="book-open"></i></span> View Full Report</button>
                                  <br>
                                  <br>
                                  <div class="columns">
                                    <div class="column ">
                                      <div class="notification is-success has-text-centered">
                                        <p class=" is-size-5 has-text-weight-bold">
                                            <span class="icon icon-btn"><i data-feather="user-check"></i></span>
                                            Successfully Sent
                                        </p>
                                        <hr>
                                      
                                        <p >
                                          <span class="is-size-1 has-text-weight-bold" id="success_sent_{{loop.index}}"></span>
                                          <br>
                                          <span class="subtitle">Contacts</span>
                                          <br>
                                        
                                        </p>
                                        
                                      </div>
                                    </div>
                                    <div class="column ">
                                        <div class="notification is-light has-text-centered">
                                          <p class=" is-size-5 has-text-weight-bold">
                                              <span class="icon icon-btn"><i data-feather="user-x"></i></span>
                                              Not on whatsapp
                                          </p>
                                          <hr>
                                        
                                          <p >
                                            <span class="is-size-1 has-text-weight-bold" id="invalid_sent_{{loop.index}}"></span>
                                            <br>
                                            <span class="subtitle">Contacts</span>
                                            <br>
                                              
                                          </p>
                                          
                                        </div>
                                      </div>
                                   </div>
                                </div>
                          </div>
                          <button class="modal-close is-large" aria-label="close"></button>
                        </div>
                        <script>
                           $(document).ready(function(){
                            axios.post("{{url_for('job_results' , job_id = j.id)}}", 
                            )
                            .then(function (response) {
                                console.log(response.data );
                                $("#success_sent_{{loop.index}}").html(response.data.success_all) ;
                                $("#invalid_sent_{{loop.index}}").html(response.data.invalid_all) ;   
                            })
                            .catch(function (error) {
                                console.log(response.data.mssg );
                                              });
                           });
                           
                  
                            document.querySelector('#job-results-{{loop.index}}').addEventListener('click', function(event) {
                              event.preventDefault();
                              var modal = document.querySelector('#modal-job-{{loop.index}}');  // assuming you have only 1
                              var html = document.querySelector('html');
                              modal.classList.add('is-active');
                              html.classList.add('is-clipped');
                            
                              document.querySelector('.modal-close').addEventListener('click', function(e) {
                                  e.preventDefault();
                                  modal.classList.remove('is-active');
                                  html.classList.remove('is-clipped');
                                });
                        
                              modal.querySelector('.modal-background').addEventListener('click', function(e) {
                                e.preventDefault();
                                modal.classList.remove('is-active');
                                html.classList.remove('is-clipped');
      
        
                              });
      
                            });
                          </script>  
                    {% elif j.status ==  2|string %}
                    <td>Finished</td>
                    <td><a class=" button is-small rubik is-success has-text-weight-bold is-static" href=""><span class="icon icon-btn-in"><i data-feather="check-circle"></i></span>Done</a> </td>
                    <td><a class=" button is-small has-text-weight-bold rubik is-warning" href="" id="job-results-{{loop.index}}"><span class="icon icon-btn-in"><i data-feather="activity"></i></span> Results</a> </td>
                    

                    
                    <div class="modal" id="modal-job-{{loop.index}}">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                                <div class="box has-text-centered" style="margin-bottom : 0px;">
                                  <p class=" is-size-4 has-text-weight-bold ">Results for {{j.city}} </p>
                                  <p class=" subtitle has-text-grey rubik">via {{j.provider}} </p>
                                
                                  <button class=" button rubik is-fullwidth is-black"><span class="icon icon-btn-in"><i data-feather="book-open"></i></span> View Full Report</button>
                                  <br>
                                  <br>
                                  <div class="columns">
                                    <div class="column ">
                                      <div class="notification is-success has-text-centered">
                                        <p class=" is-size-5 has-text-weight-bold">
                                            <span class="icon icon-btn"><i data-feather="user-check"></i></span>
                                            Successfully Sent
                                        </p>
                                        <hr>
                                      
                                        <p >
                                          <span class="is-size-1 has-text-weight-bold" id="success_sent_{{loop.index}}"></span>
                                          <br>
                                          <span class="subtitle">Contacts</span>
                                          <br>
                                        
                                        </p>
                                        
                                      </div>
                                    </div>
                                    <div class="column ">
                                        <div class="notification is-light has-text-centered">
                                          <p class=" is-size-5 has-text-weight-bold">
                                              <span class="icon icon-btn"><i data-feather="user-x"></i></span>
                                              Not on whatsapp
                                          </p>
                                          <hr>
                                        
                                          <p >
                                            <span class="is-size-1 has-text-weight-bold" id="invalid_sent_{{loop.index}}"></span>
                                            <br>
                                            <span class="subtitle">Contacts</span>
                                            <br>
                                              
                                          </p>
                                          
                                        </div>
                                      </div>
                                   </div>
                                </div>
                          </div>
                          <button class="modal-close is-large" aria-label="close"></button>
                        </div>
                        <script>
                           $(document).ready(function(){
                            axios.post("{{url_for('job_results' , job_id = j.id)}}", 
                            )
                            .then(function (response) {
                                console.log(response.data );
                                $("#success_sent_{{loop.index}}").html(response.data.success_all) ;
                                $("#invalid_sent_{{loop.index}}").html(response.data.invalid_all) ;   
                            })
                            .catch(function (error) {
                                console.log(response.data.mssg );
                                              });
                           });
                           
                  
                            document.querySelector('#job-results-{{loop.index}}').addEventListener('click', function(event) {
                              event.preventDefault();
                              var modal = document.querySelector('#modal-job-{{loop.index}}');  // assuming you have only 1
                              var html = document.querySelector('html');
                              modal.classList.add('is-active');
                              html.classList.add('is-clipped');
                            
                              document.querySelector('.modal-close').addEventListener('click', function(e) {
                                  e.preventDefault();
                                  modal.classList.remove('is-active');
                                  html.classList.remove('is-clipped');
                                });
                        
                              modal.querySelector('.modal-background').addEventListener('click', function(e) {
                                e.preventDefault();
                                modal.classList.remove('is-active');
                                html.classList.remove('is-clipped');
      
        
                              });
      
                            });
                          </script>    
                    {% endif %}
                </tr>

                
                {% endfor %}
            </tbody>
        </table>
    </div>

  <!-- JS Results Modal -->
 
  <!-- End JS ModAL Code -->
{% endblock %}