{% extends 'base.html' %}
{% block content %}
<nav class="navbar">
    <div class="navbar-start">    
<h3 class="is-size-5 has-text-weight-bold rubik">USER SETTINGS</h3>
</div>
</nav>
<br>
<div class="notification is-light ">
    <div class="level ">
        <div class="level-right">
            <div class="level-item rubik has-text-weight-bold">
            WEBDRIVER PATH
        </div>
        </div>
        <div class="level-left">
            <div class="level-item">
              <p class="rubik"><span class="tag is-primary" style="margin-right:1rem;">CURRENT</span><span class="tag rubik is-white is-size-6" >{{current_user.meta}}</span></p>
            </div>
        </div>
        <div class="level-left">
            <div class="item buttons">
                <a class="button is-black rubik"><span class="icon icon-btn-in"><i data-feather="refresh-cw"></i> </span>Update</span></a>
            </div>
        </div>
    </div>
    
  </div>
  <br>
  <div class="notification is-light">
      <div class="level ">
          <div class="level-right">
              <div class="level-item rubik has-text-weight-bold">
              PROJECT ACCESS REQUESTS
          </div>
          </div>
      <div class="level-right">
          <div class="level-item">
              <a class="button is-black rubik"><span class="icon icon-btn-in"><i data-feather="refresh-ccw"></i> </span>Refresh</span></a>
          </div>
      </div>
      </div>
      <hr>
      <div class="box">
      <div class="table-container">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email ID</th>
              <th>Project</th>
              <th>Access</th>
            </tr>

          </thead>
        </table>
      </div>
    </div>

  </div>
<script>
        
          $("#backup-btn").click(function(){
            $.ajax({
                type: "POST",
                url: "{{url_for('export_all')}}",
                
              }).done(function() {
                 window.location.replace('{{url_for("settings")}}');
              });
            });
</script>
{% endblock %}