{% extends 'base.html' %}
{% block content %}
<nav class="navbar">
    <div class="navbar-start">    
<h3 class="is-size-5 has-text-weight-bold rubik">USER SETTINGS</h3>
</div>
</nav>
<br>

<script>
        
          $("#backup-btn").click(function(){
            $.ajax({
                type: "POST",
                url: "{{url_for('export_all')}}",
                
              }).done(function() {
                 window.location.replace('{{url_for("settings")}}');
              });
            });
</script>
{% endblock %}